@import 'constants';

$colors: (
    'error': $error,
    'warning': $warning,
    'success': $success,
    'info': $info,
    'accent': $accent,
    'accent-dark': $accent-dark,
    'table-header': $table-header,
    'text': $text,
    'text-subtle': $text-subtle,
    'navigation': $navigation,
    'links': $links,
    'primary': $primary,
    'inputs': $inputs,
    'background': $background,
    'reflection': $reflection,
    'field-text': $field-text,
    'code-color': $code-color,
);

.color {
    @each $name, $value in $colors {
        &.bg-#{$name} {
            background-color: $value !important;
        }
        &.text-#{$name} {
            color: $value !important;
        }
        &.border-#{$name} {
            border-color: $value !important;
        }
        &.border-bottom-#{$name} {
            border-bottom: 1px solid $value !important;
        }
        &.border-top-#{$name} {
            border-top: 1px solid $value !important;
        }
    }
}
