$primary: '#0e9bc0';
$accent: #2f99a3;
$error: #eb5757;
$warning: #f59d34;
$success: #7dd012;
$info: #1c9dd6;

$table-header: #e8eee1;
$table-border: #e7eef1;
$text: #4f5051;
$text-subtle: #a3bac0;
$navigation: #424f62;
$links: #2d9cdb;
$inputs: $text-subtle;
$background: #ffffff;
$login-bg: #003545;
