$error: #eb5757;
$warning: #f59d34;
$success: #7dd012;
$info: #1c9dd6;
$accent: #2f99a3;
$accent-dark: #0b718c;
$table-header: #e8eee1;
$table-border: #e7eef1;
$text: #4f5051;
$text-subtle: #a3bac0;
$navigation: #424f62;
$links: #2d9cdb;
$primary: #0e9bc0;
$inputs: $text-subtle;
$background: #ffffff;
$deep-ocean: #003545;
$separator: #e5e1e5;
$reflection: #e8eef1;
$blue-azure: #0e6488;
$code-color: #525a65;
