.detail-overview {
    width: 100%;
    &__card {
        border-radius: 0px !important;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    &:not(:first-of-type) {
        .detail-overview__card {
            border-left: none !important;
        }
    }
}
