tbody tr.stripe {
    background-color: rgba(0, 0, 0, 0.05);
}

.pointer {
    cursor: pointer;
}

.hide {
    display: none !important;
}

.no-underline {
    text-decoration: none;
}
.overflow-helper {
    overflow: scroll;
    max-height: 500px;
}

.no-pointer {
    cursor: initial !important;
    user-select: all !important;
    * {
        cursor: initial !important;
        user-select: all !important;
    }
}
.no-pointerEvent {
    pointer-events: none !important;
}
