input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px white inset !important;
}

*,
:after,
:before {
    box-sizing: border-box;
}

#app,
#page-wrap {
    height: 100%;
}

.data-table-full {
    a:hover {
        text-decoration: underline;
    }
    table {
        th {
            padding: 0 24px;
            // background-color: $table-border;
            text-transform: uppercase;
            &:last-child {
                border-radius: 0 5px 0 0;
            }
            &:first-child {
                border-radius: 5px 0 0 0;
            }
            .toggle-icon {
                color: inherit;
            }
        }
        tbody {
            tr {
                td {
                    padding: 0 24px;
                    @media (max-width: 480px) {
                        border-bottom: none;
                    }
                }
            }
        }
    }
}
