@import 'constants.scss';
@import 'class_colors';
@import 'helpers.scss';
// Fonts
@import 'fonts/material-icons';
// Vuetify helper variables
@import 'variables.scss';
@import 'details_page';

html,
body,
#app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.v-application {
    background-color: $background !important;
}
.v-content-padding {
    padding: 25px 40px 40px;
}
.overlay {
    display: table;
    width: 100vw;
    height: 100vh;
    background: radial-gradient(1100px at 100% 89%, #2f99a3 0%, #003545 100%);
    .overlay-content {
        display: table-cell;
        vertical-align: middle;
    }
    .loading-icon {
        text-align: center;
    }
}

// --------------------------------- Vuetify custom restyle ----------------------------------------------------------------------
.data-table-full {
    table-layout: fixed;

    a:hover {
        text-decoration: underline;
    }
    table {
        thead {
            tr {
                box-shadow: -7px 5px 7px -7px rgba(0, 0, 0, 0.1) !important;

                th {
                    background-color: $table-border;
                    text-transform: uppercase;
                    color: $small-text !important;
                    font-size: 11px;
                    border-bottom: none !important;
                    white-space: nowrap;
                    &.active * {
                        color: #000 !important;
                    }
                    &:last-child {
                        border-radius: 0 5px 0 0;
                    }
                    &:first-child {
                        border-radius: 5px 0 0 0;
                    }
                    .toggle-icon {
                        color: inherit;
                    }
                    &:not(:last-child) {
                        width: 1px;
                    }
                }
                &:not(.v-data-table__progress) {
                    th {
                        padding: 0 35px;
                    }
                }
            }
        }

        tbody {
            tr {
                pointer-events: none !important;
                .v-data-table__mobile-row {
                    border-right: thin solid $table-border !important;
                    border-left: thin solid $table-border !important;
                }

                .border-left-thin {
                    border-left: thin solid $table-border !important;
                }
                td {
                    pointer-events: all !important;
                    padding: 0 35px;
                    border-bottom: thin solid $table-border !important;
                    font-size: 14px;
                    color: $navigation;
                    white-space: nowrap;
                    @media (max-width: 600px) {
                        border-bottom: none;
                    }
                    &:last-child:not(.hide) {
                        border-right: thin solid $table-border !important;
                    }
                    &:first-child:not(.hide) {
                        border-left: thin solid $table-border !important;
                    }

                    .cell-accent {
                        height: 100%;
                        padding: 0 35px;
                        margin-left: -24px;
                        display: flex;
                        border-left: 8px solid #828282;
                        &.info-accent {
                            border-color: $accent;
                        }
                        &.success-accent {
                            border-color: $success;
                        }
                        &.error-accent {
                            border-color: $error;
                        }
                        &.warning-accent {
                            border-color: $warning;
                        }
                    }
                    &.actions {
                        text-align: right;

                        button {
                            opacity: 0;
                        }
                    }
                }
                &:hover {
                    td.actions button {
                        opacity: 1;
                    }
                }
                &.last-row {
                    td {
                        &:last-child {
                            border-radius: 0 0 5px 0;
                        }
                        &:first-child {
                            border-radius: 0 0 0 5px;
                        }
                    }
                }
            }
        }
    }
    .v-data-footer {
        border-top: thin solid rgba(0, 0, 0, 0) !important;
    }
}
.table-fluid {
    table {
        thead {
            tr {
                th {
                    &:not(:last-child) {
                        width: unset;
                    }
                }
            }
        }
        tbody {
            tr.collapse-row {
                td {
                    &:first-child {
                        padding: 0 50px;
                    }
                }
            }
            tr {
                td.nested-row {
                    padding: 0 50px;
                }
            }
        }
    }
}
// .data-table-nested {
//     table {
//         thead {
//             tr {
//                 &:not(.v-data-table__progress) {
//                     th {
//                         padding: 0 50px;
//                     }
//                 }
//             }
//         }
//     }
// }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px white inset !important;
}
// vuetify input restyle
.std.v-text-field--outlined > .v-input__control {
    .v-input__slot {
        min-height: 0 !important;
    }

    fieldset {
        border-width: 1px !important;
    }

    & input {
        margin-top: 1px;
        font-size: 15px;
        color: $navigation;
    }
}
.search-restyle.v-text-field--rounded {
    .v-input__control {
        .v-input__slot {
            min-height: 0 !important;
            padding: 0px 15px;
        }

        fieldset {
            border-width: 1px !important;
        }

        & input {
            margin-top: 1px;
            font-size: 15px;
            color: $navigation;
        }
    }
}
// vuetify input error message
.std.v-input.v-text-field .v-text-field__details {
    position: absolute;
    top: -2px;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    transform: translateY(-100%);
}
// vuetify checkbox restyle
.v-input.small.v-input--checkbox {
    label {
        font-size: 0.865rem;
        color: $navigation;
        left: 3px !important;
    }

    i {
        font-size: 16px;
    }

    .v-input--selection-controls__ripple {
        width: 16px;
        height: 16px;
        left: -3px;
        top: -3px;
    }

    .v-input--selection-controls__input {
        margin-right: 0;
    }
}

// for create/update modal
.input-div-wrapper {
    padding: 10px 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    .delete {
        left: 100%;
        transform: translateX(-100%);
    }
}
.input_height_prefix {
    padding: 0px 10px !important;
    .v-input__control {
        max-height: auto !important;
        .v-text-field__details {
            margin-bottom: 0px !important;
        }
    }
}

//-------------------------------------------------Typography
h1 {
    font-size: map-deep-get($headings, 'h1', 'size');
    font-family: map-deep-get($headings, 'h1', 'font');
    font-weight: map-deep-get($headings, 'h1', 'weight');
    line-height: map-deep-get($headings, 'h1', 'line-height');
    color: $navigation;
}

h2 {
    font-size: map-deep-get($headings, 'h2', 'size');
    font-family: map-deep-get($headings, 'h2', 'font');
    font-weight: map-deep-get($headings, 'h2', 'weight');
    line-height: map-deep-get($headings, 'h2', 'line-height');
    color: $blue-azure;
}

h3 {
    font-size: map-deep-get($headings, 'h3', 'size');
    font-family: map-deep-get($headings, 'h3', 'font');
    font-weight: map-deep-get($headings, 'h3', 'weight');
    line-height: map-deep-get($headings, 'h3', 'line-height');
    color: $deep-ocean;
}

h4 {
    font-size: map-deep-get($headings, 'h4', 'size');
    font-family: map-deep-get($headings, 'h4', 'font');
    font-weight: map-deep-get($headings, 'h4', 'weight');
    line-height: map-deep-get($headings, 'h4', 'line-height');
    color: $accent;
}

h5 {
    font-size: map-deep-get($headings, 'h5', 'size');
    font-family: map-deep-get($headings, 'h5', 'font');
    font-weight: map-deep-get($headings, 'h5', 'weight');
    line-height: map-deep-get($headings, 'h5', 'line-height');
    color: $accent;
}

h6 {
    font-size: map-deep-get($headings, 'h6', 'size');
    font-family: map-deep-get($headings, 'h6', 'font');
    font-weight: map-deep-get($headings, 'h6', 'weight');
    line-height: map-deep-get($headings, 'h6', 'line-height');
    color: $deep-ocean;
}

//--------------------------------------------------v-card

.v-card.v-card-custom {
    box-shadow: 1px 1px 7px rgba(0, 0, 0, 0.1) !important;
    border: 1px solid #e3e6ea !important;
    border-radius: 0.625rem !important;
}
