@import "styles/constants";
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px white inset !important;
}

#page-wrap {
    background-color: $background;
}

*,
:after,
:before {
    box-sizing: border-box;
}

#app,
#page-wrap {
    height: 100%;
}
