/* Adrianna Light (300) */
@font-face {
    font-family: 'Adrianna';
    font-style: normal;
    font-weight: 300;
    src: local('Adrianna Light'),
         url('assets/fonts/adrianna/light.woff2') format('woff2'),
         url('assets/fonts/adrianna/light.woff') format('woff'),
         url('assets/fonts/adrianna/light.ttf') format('opentype');
}
/* Adrianna Regular (400) */
@font-face {
    font-family: 'Adrianna';
    font-style: normal;
    font-weight: 400;
    src: local('Adrianna'),
         url('assets/fonts/adrianna/regular.woff2') format('woff2'),
         url('assets/fonts/adrianna/regular.woff') format('woff'),
         url('assets/fonts/adrianna/regular.ttf') format('opentype');
}
/* Adrianna Bold (700) */
@font-face {
    font-family: 'Adrianna';
    font-style: normal;
    font-weight: 700;
    src: local('Adrianna Bold'),
         url('assets/fonts/adrianna/bold.woff2') format('woff2'),
         url('assets/fonts/adrianna/bold.woff') format('woff'),
         url('assets/fonts/adrianna/bold.ttf') format('opentype');
}

.ft-adrianna { font-family: 'Adrianna', sans-serif; }
